PORT=3000
NODE_ENV="development"

# MongoDB URI
MONGODB_URI="mongodb://localhost:27017/devcamper"

# JWT
JWT_SECRET="jwt_secret"
JWT_EXPIRE="1d"

# Geocoder
GEOCODE_PROVIDER="mapquest"
GEOCODE_API_KEY="api-key"

# Rate limit
RATE_LIMIT_WINDOW_MS=10*60*1000 
RATE_LIMIT_MAX=100

# SMTP
SMTP_HOST=""
SMTP_USERNAME=""
SMTP_PASSWORD=""
