PORT = 3000
NODE_ENV = "development"

# MongoDB database url
DATABASE_URL = ""

JWT_SECRET = "jwt_secret"
JWT_EXPIRE = "1d"

# Rate limit window in minutes
RATE_LIMIT_WINDOW = 10

RATE_LIMIT_MAX = 100
